*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background: radial-gradient(circle at top,#1a1a40,#000);
color:white;
min-height:100vh;
}

.back-btn a{
    color:rgb(200, 145, 103);
}
.back{
    position:fixed;
    top:15px;
    left:15px;
    padding:10px;
    background:rgba(255,255,255,0.1);
    color:white;
    text-decoration:none;
    border-radius:8px;

    z-index:9999; /* 🔥 INI PENTING */
}

.container{
display:flex;
justify-content:center;
padding:30px;
}

.box{
width:520px;
background:rgba(255,255,255,0.06);
padding:25px;
border-radius:15px;
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,0.2);
}

input, textarea{
width:100%;
padding:10px;
margin:5px 0;
border:none;
border-radius:8px;
}

.tab-menu{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.tab{
    flex:1;
    padding:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:rgba(255,255,255,0.1);
    color:white;
    transition:0.3s;
}

.tab.active{
    background:#0e72e4;
    color:black;
}

/* CONTENT */
.tab-content{
    display:none;
}

.tab-content.active{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.menu{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:10px;
}

.card{
background:#111;
padding:10px;
border-radius:10px;
}

.card button{
width:100%;
margin-top:5px;
padding:6px;
background:#0e72e4;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

#cart div{
display:flex;
justify-content:space-between;
margin:5px 0;
}

.total{
margin:10px 0;
font-size:18px;
font-weight:bold;
}

button[type="submit"]{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:linear-gradient(45deg,#51a2dc,#1323dc);
color:black;
font-weight:bold;
cursor:pointer;
}